In [64]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
import joblib

In [65]:
data = pd.read_csv('preprocessed.csv')

In [66]:
encode_venue = LabelEncoder()
encode_team = LabelEncoder()

In [67]:
data['venue'] = encode_venue.fit_transform(data['venue'])
data['batting_team'] = encode_team.fit_transform(data['batting_team'])
data['bowling_team'] = encode_team.fit_transform(data['bowling_team'])
data['toss_winner'] = encode_team.fit_transform(data['toss_winner'])

In [68]:
data.head()

,batting_team,Pplay1_runs,pplay twick1,bowling_team,Pplay2_runs,pplay twick2,toss_winner,toss_decision,venue,Pitch Type
0,12,59,1,11,54,1,11,0,28,2
1,6,61,1,10,59,1,10,0,21,0
2,3,52,1,5,73,0,5,0,31,2
3,10,35,1,8,56,2,8,0,13,2
4,11,41,2,2,43,2,11,1,17,2

In [69]:
data.columns

Index(['batting_team', 'Pplay1_runs', 'pplay twick1', 'bowling_team',
       'Pplay2_runs', 'pplay twick2', 'toss_winner', 'toss_decision', 'venue',
       'Pitch Type'],
      dtype='object')

In [70]:
X = data.drop(['Pplay1_runs', 'pplay twick1',
       'Pplay2_runs', 'pplay twick2', 'toss_winner', 'toss_decision',
       'Pitch Type'], axis=1)
y = data['Pplay1_runs']

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)

In [72]:
linear_regression = LinearRegression()
model = linear_regression.fit(X_train, y_train)

score = model.score(X_train, y_train)
print('train accuracy : ', score)

y_pred = model.predict(X_test)
test_score = metrics.r2_score(y_test, y_pred)
print("test accuracy : ", test_score)

train accuracy :  0.002389324320958619
test accuracy :  -0.003442203130807675

In [73]:
joblib.dump(linear_regression, 'regression_model.joblib')
joblib.dump(encode_venue, 'venue_encoder.joblib')
joblib.dump(encode_team, 'team_encoder.joblib')

['team_encoder.joblib']